{% extends 'ticketing/base.html' %}
{% block title %}About us - AART{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>

        h1 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .highlight {
            color: #4CAF50;
            font-weight: bold;
        }

        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>

    <h1>About Us</h1>
    <div class="image-container">
        <img src="/static/images/bus-logo-free-vector.jpg" alt="Company Logo">
    </div>
    <p>Welcome to AART, your one-stop destination for booking bus tickets online. We are dedicated to providing convenient and reliable bus ticketing services to travelers across the country.</p>
    <p>With our user-friendly platform, you can easily search for available bus routes, compare fares, and book your tickets hassle-free. Whether you are planning a short trip or a long journey, we have a wide selection of bus operators and routes to choose from.</p>
    <p>At AART, we prioritize customer satisfaction. Our team of experienced professionals works tirelessly to ensure a seamless booking experience and timely customer support. We strive to make your travel experience comfortable and enjoyable.</p>
    <p>Why choose us:</p>
    <ul>
        <li>We offer a wide range of bus routes and operators.</li>
        <li>Our platform is secure and easy to use.</li>
        <li>Competitive prices and transparent fare information.</li>
        <li>24/7 customer support to assist you with any queries or concerns.</li>
        <li>Flexible payment options for your convenience.</li>
    </ul>
    <p>Experience the convenience of online bus ticketing with BusTicketing Company. Start planning your next journey today!</p>


{% endblock %}
